node_modules/
www/
studiog/
android/.gradle/
android/build/
android/**/build/
.idea/
.vscode/
.DS_Store
.gradle/
/.classpath
/.project
/.settings/
*.iml
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
coverage/
*.log
